<div class="flex justify-center items-center h-screen bg-green-400">
    <div>
        <div class="relative w-96 bg-white ring-8 ring-green-200 border border-green-300 rounded-xl overflow-hidden">

            <div class="flex justify-center space-x-6 py-4">
                <span class="text-4xl">🍆</span>
                <span class="text-4xl">🍅</span>
                <span class="text-4xl">🥑</span>
            </div>

            <!-- Tabs -->
            <div class="flex border-b">
                <button id="tab-login" (click)="gotoLogin()" [ngClass]="{
      'border-green-500 text-green-600': showLogin,
      'border-gray-300 hover:border-green-500 text-gray-600': !showLogin
    }" class="flex-1 py-5 text-center font-medium border-b transition-colors duration-200">
                    Login
                </button>
                <button id="tab-register" (click)="gotoRegister()" [ngClass]="{
      'border-green-500 text-green-600': !showLogin,
      'border-gray-300 hover:border-green-500 text-gray-600': showLogin
    }" class="flex-1 py-5 text-center font-medium border-b transition-colors duration-200">
                    Register
                </button>
            </div>

            <div id="form-wrapper" class="transition-all duration-500 ease-in-out">
                <!-- Login Form -->
                <form (ngSubmit)="onLogin()">
                    <div *ngIf="showLogin" class="space-y-4 p-10">
                        <div>
                            <label for="email" class="block text-xs font-medium text-gray-700 uppercase">Email</label>
                            <input type="email" id="login-email" name="email" [(ngModel)]="loginObj.email"
                                class="w-full mt-1 p-2 border rounded-md focus:ring-2 focus:ring-green-500 focus:outline-none"
                                placeholder="Email" autocomplete="username">
                        </div>
                    
                        <div>
                            <label for="password"
                                class="block text-xs font-medium text-gray-700 uppercase">Password</label>
                            <div class="relative">
                                <input [type]="showPassword ? 'text' : 'password'" id="login-password" name="password"
                                    [(ngModel)]="loginObj.password"
                                    class="w-full mt-1 p-2 pr-10 border rounded-md focus:ring-2 focus:ring-green-500 focus:outline-none"
                                    placeholder="Password" autocomplete="current-password">

                                <button type="button" (click)="showPassword = !showPassword"
                                    class="absolute top-1/2 right-3 transform -translate-y-1/2 text-gray-600 focus:outline-none cursor-pointer">
                                    <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                                </button>
                            </div>
                            <div class="text-sm mt-2 justify-self-end text-blue-600 space-y-1 cursor-pointer hover:underline hover:text-blue-800" (click)="gotoResetPassword()">
                                <div>Forgot Password?</div>
                            </div>
                        </div>
                        <button type="submit"
                            class="w-full bg-green-500 text-white py-3 rounded-md hover:bg-green-600">Login</button>
                    </div>
                </form>

                <!-- Register Form -->
                <div *ngIf="!showLogin" class="space-y-4 p-10">
                    <div>
                        <label for="fullName" class="block text-xs uppercase font-medium text-gray-700">Full
                            Name</label>
                        <input type="text" id="register-fullName" name="fullName" [(ngModel)]="registerObj.fullName"
                            class="w-full mt-1 p-2 border rounded-md focus:ring-2 focus:ring-green-500 focus:outline-none"
                            placeholder="Full Name">
                    </div>
                    <div>
                        <label for="email" class="block text-xs uppercase font-medium text-gray-700">Email</label>
                        <input type="email" id="register-email" name="email" [(ngModel)]="registerObj.email"
                            class="w-full mt-1 p-2 border rounded-md focus:ring-2 focus:ring-green-500 focus:outline-none"
                            placeholder="Email">
                    </div>
                    <div>
                        <label for="password" class="block text-xs uppercase font-medium text-gray-700">Password</label>
                        <input type="password" id="register-password" name="password" [(ngModel)]="registerObj.password"
                            (ngModelChange)="validatePassword()"
                            class="w-full mt-1 p-2 border rounded-md focus:ring-2 focus:ring-green-500 focus:outline-none"
                            placeholder="Password">
                        <div class="text-sm mt-2 text-red-600 space-y-1">
                            <div *ngIf="passwordErrors.minLength">• At least 8 characters</div>
                            <div *ngIf="passwordErrors.hasLetter">• Must contain at least one letter (A-Z or a-z)</div>
                            <div *ngIf="passwordErrors.hasNumber">• Must contain at least one number (0-9)</div>
                        </div>
                    </div>
                    <div>
                        <label for="mobileNo" class="block text-xs uppercase font-medium text-gray-700">Mobile
                            Number</label>
                        <input type="text" name="mobileNo" [(ngModel)]="registerObj.mobileNo" maxlength="10"
                            class="w-full mt-1 p-2 border rounded-md focus:ring-2 focus:ring-green-500 focus:outline-none"
                            placeholder="Mobile Number">
                    </div>
                    <button (click)="onRegister()"
                        class="w-full bg-green-500 text-white py-3 rounded-md hover:bg-green-600">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>